<div class="selected-card-container">
    <div class="selected-card-base">
        <div class="selected-card-number selected-card-number--top-left">{{selectedCard.letter}}</div>
        <div class="selected-card-number selected-card-number--bottom-right">{{selectedCard.letter}}</div>
        <div class="selected-card-info">
            <h1 class="selected-card-info-header">{{selectedCard.ruleName}}</h1>
            <p class="selected-card-info-description">{{selectedCard.ruleDescription}}</p>
        </div>
    </div>
</div>
