container_commands:
    00-fix_permissions_dirs:
        command: "find . -type d -exec chmod 755 {} \;"
        ignoreErrors: true
    01-fix_permissions_files:
        command: "find . -type f -exec chmod 644 {} \;"
        ignoreErrors: true
    19-composer-update:
        command: "export COMPOSER_HOME=/root && composer.phar self-update -n"
    20-install-composer:
        command: "./server/composer.phar install -d ./server/www && chown ec2-user:ec2-user -R ./server;"
    21-migrate-database:
        command: "chmod 777 .server/storage/framework/services.json; php .server/artisan migrate;"
        leader_only: true
option_settings:
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: COMPOSER_HOME
        value: /root

