container_commands:
    20-install-composer:
        command: "./composer.phar install && chown webapp:webapp -R ./;"
    21-migrate-database:
        command: "chmod 777 ./storage/framework/services.json; php artisan migrate;"
        leader_only: true
option_settings:
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: COMPOSER_HOME
        value: /root

