container_commands:
    19-composer-update:
        command: "export COMPOSER_HOME=/root && composer.phar self-update -n"
    20-install-composer:
        command: "sudo ./server/composer.phar install -d ./server;"
    21-migrate-database:
        command: "php .server/artisan migrate;"
        leader_only: true
option_settings:
      - namespace: aws:elasticbeanstalk:application:environment
        option_name: COMPOSER_HOME
        value: /root

