// Screen sizes
$xsmall-screen-size: 480px;

@mixin max-mobile {
    @media only screen and (max-width: $xsmall-screen-size) {
        @content;
    }
}

@mixin button($color: $primary){
    border: $color 1px solid;
    border-radius : 3px;
    background: #fff;

    a {
        display: block;
        color: $color;
        padding: 0.5em;
        text-transform: uppercase;
    }

    &:hover,
    &:focus {
        background: $color;
        a{
            color: #fff;
        }
    }

}