/* ==========================================================================
   IMPORT GLOBAL
   ========================================================================== */
@import "variables";
@import "mixins";

/* ==========================================================================
   IMPORT PARTIALS
   ========================================================================== */
@import "partials/landing";
@import "partials/cards-grid";

/* ==========================================================================
   IMPORT MODULES
   ========================================================================== */
@import "modules/card-viewer/rules";

/* template */
#wrapper{
    position: relative;
}

* {
    box-sizing: border-box;
}

html,
body {
  background: $cg9;
  font-family: $global-font-family;
  margin: 0;
}

header{
    background: #000;
    width: 100%;
    color: $primary;
    text-align: center;
    padding: 1em 0;
}

footer{
    background: #000;
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    color: $secondary;
    text-align: center;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}
