/* ==========================================================================
   IMPORT GLOBAL
   ========================================================================== */
@import "variables";
@import "mixins";

/* ==========================================================================
   IMPORT PARTIALS
   ========================================================================== */
@import "partials/landing";

/* ==========================================================================
   IMPORT MODULES
   ========================================================================== */
@import "modules/card-viewer/rules";


/* template */
#wrapper{
    position: relative;
}

html,
body {
  box-sizing: border-box;
  background: #2d2d2d;
}

header{
    background: #000;
    width: 100%;
    color: $primary;
    text-align: center;
}
footer{
    background: #000;
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    color: $secondary;
    text-align: center;
}
